<link rel="apple-touch-icon" sizes="180x180" href="{{ "assets/images/favicon/apple-touch-icon.png | absolute_url }}">
<link rel="icon" type="image/png" sizes="32x32" href="{{ "assets/images/favicon/favicon-32x32.png | absolute_url }}">
<link rel="icon" type="image/png" sizes="16x16" href="{{ "assets/images/favicon/favicon-16x16.png | absolute_url }}">
<link rel="manifest" href="{{ "assets/images/favicon/site.webmanifest | absolute_url }}">
<link rel="mask-icon" href="{{ "assets/images/favicon/safari-pinned-tab.svg | absolute_url }}" color="#707070">
<meta name="msapplication-TileColor" content="#707070">
<meta name="theme-color" content="#ffffff">

{{ "assets/images/favicon/ | absolute_url }}