<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:site" content="@{{ site.author.twitter }}">
{% if page.title %}
  <meta name="twitter:title" content="{{ page.title site.title }} | {{ site.title }}">
{% else %}
  <meta name="twitter:title" content="{{ site.title }}">
{% endif %}

{% if page.excerpt %}
  <meta name="twitter:description" content="{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}">
{% else %}
  <meta name="twitter:description" content="{{ site.description }}">
{% endif %}

<meta name="twitter:image" content="{{ "assets/images/default_ogp.png" | absolute_url }}">
<meta name="twitter:url" content="{{ page.url | replace:'index.html','' | absolute_url }}">