.footer {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  margin-top: auto;
  width: 100%;
}

.footer-container {
  align-items: center;
  flex-direction: column;
  padding: 1.5rem 0 2rem;
  height: 100%;
  border-top: 1px solid $color-border;

  @include container();

  &__link {
    align-items: center;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 0.5rem;
    color: $color-font-main;
    text-decoration: none;
  }
}

.footer-profile {
  &__name {
    font-size: 1rem;
  }

  &__icon {
    width: $size-footer-profile-icon;
    height: $size-footer-profile-icon;
    border-radius: $size-footer-profile-icon / 2;
    box-shadow: 0.25rem 0.25rem 0.25rem $color-shadow;
  }
}

.footer-credit {
  margin-top: 2rem;
  font-size: 0.625rem;

  &__link {
    color: $color-font-main;
  }
}