.header {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: $size-header-height;

  @include shadow-bottom();
}

.header-container {
  display: flex;
  width: $size-additional-container-width;

  &__link {
    text-decoration: none;
  }

  &__title {
    padding-left: 5rem;
    width: 100%;
    color: $color-font-main;
    font-size: $size-font-header;
  }
}