.post-pager {
  align-items: center;
  flex-direction: row;
  justify-content: space-around;
  margin: 0 0 4rem;
  width: 100% !important;
  height: auto;

  @include container();

  &__item {
    display: flex;
    align-items: center;
    flex: 1;
    height: 100%;

    &--prev {
      justify-content: flex-start;

      @extend .post-pager__item;
    }

    &--next {
      justify-content: flex-end;

      @extend .post-pager__item;
    }
  }

  &__link {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    color: $color-font-sub;
    font-size: 1rem;
  }
}
