.posts-pager {
  align-items: center;
  flex-direction: row;
  padding-bottom: 2rem;
  height: 2rem;

  @include container();

  &__item {
    display: flex;
    align-items: center;
    flex: 1;
    height: 100%;

    &--prev {
      justify-content: flex-start;

      @extend .posts-pager__item;
    }

    &--next {
      justify-content: flex-end;

      @extend .posts-pager__item;
    }
  }

  &__number {
    justify-content: center;

    @extend .posts-pager__item;
  }

  &__link {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    color: $color-font-sub;
    font-size: 1rem;
  }
}