.profile-container {
  box-sizing: border-box;
  padding: 2rem 0 0;

  @media screen and (max-width: 479px) {
    margin-left: 0;
    padding: 0;
    width: 90%;
  }
}

.profile-page {
  &__name {
    margin-bottom: 0.5rem;
    font-size: 1.5rem;
  }

  &__icon {
    width: $size-profile-page-icon;
    height: $size-profile-page-icon;
    border-radius: $size-profile-page-icon / 2;
    box-shadow: 0.25rem 0.25rem 0.25rem $color-shadow;
    @media screen and (max-width: 479px) {
      width: $size-profile-page-icon * 0.85;
      height: $size-profile-page-icon * 0.85;
    }
  }
}

.profile-info {
  flex-direction: row;
  justify-content: flex-start;
  padding: 2rem 0 1.5rem;

  @include container();

  &__image {
    margin-right: 1.5rem;
  }

  &__text-link {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
