.sns-container {
  position: sticky;
  top: 3rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 2.5rem 0 0;
  width: 5rem;
  @media screen and (max-width: 479px) {
    position: relative;
    display: flex;
    align-content: center;
    align-items: center;
    flex-direction: row;
    justify-content: space-around;
    padding: .75rem 0 0;
    width: 70%;
  }
  &__button {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    margin-bottom: .625rem;
    text-decoration: none;
    &:hover {
      opacity: 0.6;
    }
  }
}
