.sns-container {
  position: fixed;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 2.5rem 0 0;
  width: 5rem;
  &__button {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    margin-bottom: .625rem;
    text-decoration: none;
  }
}
