<div class="sns-container">
  <a href="https://twitter.com/intent/tweet?text={{ page.title }}&url={{ site.url }}{{ page.url }}&via={{ site.author.twitter if site.author.twitter }}"
     target="_blank"
     rel="nofollow noopener noreferrer"
     class="sns-container__button"
  >
    <p class="social-link__item--twitter">
      <i class="fa fa-twitter"></i>
    </p>
  </a>
  <a href="https://www.facebook.com/sharer/sharer.php?u={{ site.url }}{{ page.url }}"
     target="_blank"
     rel="nofollow noopener noreferrer"
     class="sns-container__button"
  >
    <p class="social-link__item--facebook">
      <i class="fa fa-facebook"></i>
    </p>
  </a>
  <a href="http://b.hatena.ne.jp/add?&url={{ site.url }}{{ page.url }}"
     target="_blank"
     rel="nofollow noopener noreferrer"
     class="sns-container__button"
  >
    <p class="social-link__item--hatena">
      <i class="fa-hatena"></i>
    </p>
  </a>
  <a href="https://getpocket.com/edit?url={{ site.url }}{{ page.url }}"
     target="_blank"
     rel="nofollow noopener noreferrer"
     class="sns-container__button"
  >
    <p class="social-link__item--pocket">
      <i class="fa fa-get-pocket"></i>
    </p>
  </a>
</div>
