html {
  min-height: 100vh;
  color: $color-font-main;
  font-size: $size-font-base;
}

body {
  display: flex;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
}

@media screen and (max-width: 479px) {
  html {
    min-height: 100vh;
    color: $color-font-main;
    font-size: $size-font-base;
  }

  body {
    display: flex;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
  }
}