$color-font-main: #222;
$color-font-sub: #555;

$color-shadow: rgba(#333, 0.3);

$color-border: #ccc;

//social
$color-github:#161614;
$color-twitter:#55acee;
$color-facebook:#3b5998;
$color-hatena:#00a4de;
$color-pocket:#EF4056;
