$size-container-width: 50rem;
$size-additional-container-width: 55rem;

$size-header-height: 3rem;
$size-footer-height: 3rem;

$size-footer-profile-icon: 4rem;
$size-profile-page-icon: 6rem;

// font
$size-font-base: 16px;
$size-font-header: 1.5rem;