$size-container-width: 60rem;
$size-post-container-width: 50rem;
$size-container-width-sp: 90%;
$size-additional-container-width: 70rem;
$size-additional-container-width-sp: 100%;

$size-header-height: 3rem;
$size-header-height-sp: 2rem;
$size-footer-height: 3rem;

$size-footer-profile-icon: 4rem;
$size-profile-page-icon: 6rem;

// font
$size-font-base: 16px;
$size-font-header: 1.5rem;
$size-font-header-sp: 1.125rem;
