---
layout: default
---
<ul class="posts">
  <p class="tag-name">Tag: {{page.title}}</p>
  {% for post in page.posts %}
    <div class="posts-content">
      <a href="{{ post.url | relative_url }}">
        <h1 class="post__title">{{ post.title }}</h1>
      </a>
      <div class="post-meta">
        <p class="post__date">{{ post.date | date: '%Y/%-m/%-d' }}</p>
        <div class="post-tags">
          {% for tag in post.tags %}
            <div class="post-tag">
              <a class="post-tag__link" href="{{ '/archives/tag/' | append: tag | relative_url }}">
                <i class="fa fa-tag post-tag__icon"></i>{{ tag }}
              </a>
            </div>
          {% endfor %}
        </div>
      </div>
    </div>
  {% endfor %}
</ul>
